*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(65, 107, 221, 0.89);
}
header{
    padding-bottom: 30px;
    text-align: center;
}
section{
    background-color: white;
    margin: auto;
    width: 600px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.61);
    
}
footer{
 text-align: center;
 padding-top: 15px;
}
#imagem{
   width: 300px;
   height: 300px;
}